@use "./sassDry/_mixins" as mix;
@use "./sassDry/_variables" as var;
@use "./sassDry/_utils" as func;
@use "./screens/smartPhone/phone" as smartPhone;
@use "./screens/tablet/tablet" as tablet;
@use "./screens/tabletWide/tabWide" as tabWide;
@use "./screens/desktop/desktop" as desktopSM;
@use "./screens/bigDesktop/bigDesk" as desktopBIG;

*,
::after,
::before {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: none;
}
ol,
ul {
  list-style: none;
}

html {
  width: 100%;
  height: 100%;
  body {
    width: 100%;
    height: 100%;
    #root {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@include smartPhone.phoneStyles;
@include mix.media-query(601px) {
  @include tablet.tabStyles;
}
@include mix.media-query-lands(900px) {
  @include tabWide.tabWStyles;
}
@include mix.media-query(1200px) {
  @include desktopSM.desktopSMStyles;
}
@include mix.media-query(1800px) {
  @include desktopBIG.desktopBIGStyles;
}
