@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

$col1: #dafffb;
$col2: #64ccc5;
$col3: #176b87;
$col4: #001c30;

$colErr1: #ffdbdb;
$colErr2: #cc6666;
$colErr3: #871717;
$colErr4: #2e0000;

$colWarn1: #fff0db;
$colWarn2: #cca766;
$colWarn3: #876417;
$colWarn4: #2e1f00;

$colInfo1: #dbdfff;
$colInfo2: #6680cc;
$colInfo3: #172d87;
$colInfo4: #000b2e;

$fontLato: "Lato, sans-serif";
$fontActor: "Actor", sans-serif;
$fontMerr: "Merriweather Sans", sans-serif;
