@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Actor&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

$col1: #dafffb;
$col2: #64ccc5;
$col3: #176b87;
$col4: #001c30;

$colErr1: #ffdbdb;
$colErr2: #cc6666;
$colErr3: #871717;
$colErr4: #2e0000;

$colWarn1: #fff0db;
$colWarn2: #cca766;
$colWarn3: #876417;
$colWarn4: #2e1f00;

$colInfo1: #dbdfff;
$colInfo2: #6680cc;
$colInfo3: #172d87;
$colInfo4: #000b2e;

$colFb: #39569c;
$colGogl1: #0f9d58;
$colGogl2: #f4b400;
$colGogl3: #db4437;

$fontLato: "Lato, sans-serif";
$fontActor: "Actor", sans-serif;
$fontMerr: "Merriweather Sans", sans-serif;

// 320-600
$smax600_11-16: clamp(0.69rem, calc(0.33rem + 1.79vw), 1rem);
$smax600_13-19: clamp(0.81rem, calc(0.38rem + 2.14vw), 1.19rem);
$smax600_16-23: clamp(1rem, calc(0.5rem + 2.5vw), 1.44rem);
$smax600_16-28: clamp(1rem, calc(0.14rem + 4.29vw), 1.75rem);
$smax600_19-28: clamp(1.19rem, calc(0.54rem + 3.21vw), 1.75rem);
$smax600_23-33: clamp(1.44rem, calc(0.72rem + 3.57vw), 2.06rem);

//601-899
$smax899_16-23: clamp(1rem, calc(0.12rem + 2.35vw), 1.44rem);
$smax899_19-28: clamp(1.19rem, calc(0.05rem + 3.02vw), 1.75rem);
$smax899_23-33: clamp(1.44rem, calc(0.18rem + 3.36vw), 2.06rem);
$smax899_28-40: clamp(1.75rem, calc(0.24rem + 4.03vw), 2.5rem);
$smax899_33-48: clamp(2.06rem, calc(0.17rem + 5.03vw), 3rem);

//900-1199
$smax1199_9-11: clamp(0.56rem, calc(0.19rem + 0.67vw), 0.69rem);
$smax1199_11-13: clamp(0.69rem, calc(0.31rem + 0.67vw), 0.81rem);
$smax1199_13-16: clamp(0.81rem, calc(0.25rem + 1vw), 1rem);
$smax1199_16-19: clamp(1rem, calc(0.44rem + 1vw), 1.19rem);
$smax1199_19-16: clamp(1rem, calc(1.75rem + -1vw), 1.19rem);
$smax1199_19-23: clamp(1.19rem, calc(0.43rem + 1.34vw), 1.44rem);
$smax1199_23-28: clamp(1.44rem, calc(0.5rem + 1.67vw), 1.75rem);
$smax1199_33-40: clamp(2.06rem, calc(0.75rem + 2.34vw), 2.5rem);

//1200-1799
$smax1799_11-16: clamp(0.69rem, calc(0.06rem + 0.83vw), 1rem);
$smax1799_13-19: clamp(0.81rem, calc(0.06rem + 1vw), 1.19rem);
$smax1799_16-19: clamp(1rem, calc(0.62rem + 0.5vw), 1.19rem);
$smax1799_16-23: clamp(1rem, calc(0.12rem + 1.17vw), 1.44rem);
$smax1799_19-28: clamp(1.19rem, calc(0.06rem + 1.5vw), 1.75rem);
$smax1799_23-33: clamp(1.44rem, calc(0.19rem + 1.67vw), 2.06rem);
$smax1799_28-40: clamp(1.75rem, calc(0.25rem + 2vw), 2.5rem);
$smax1799_40-57: clamp(2.5rem, calc(0.37rem + 2.84vw), 3.56rem);

//1800-3000
$smax3000_16-28: clamp(1rem, calc(-0.12rem + 1vw), 1.75rem);
$smax3000_19-33: clamp(1.19rem, calc(-0.12rem + 1.17vw), 2.06rem);
$smax3000_23-40: clamp(1.44rem, calc(-0.16rem + 1.42vw), 2.5rem);
$smax3000_28-48: clamp(1.75rem, calc(-0.12rem + 1.67vw), 3rem);
$smax3000_33-57: clamp(2.06rem, calc(-0.19rem + 2vw), 3.56rem);
$smax3000_40-69: clamp(2.5rem, calc(-0.22rem + 2.42vw), 4.31rem);
$smax3000_57-99: clamp(3.56rem, calc(-0.38rem + 3.5vw), 6.19rem);
