@use "../../sassDry/_mixins" as mix;
@use "../../sassDry/_variables" as var;

@mixin styles {
  .large--Nav {
    width: 80%;
    @include mix.flex-container(row, space-between, center);
    border-bottom: 1px solid var.$col2;
    position: fixed;
    background-color: white;
    z-index: 10;
    &::after {
      content: "";
      display: block;
      width: 13%;
      height: 1px;
      position: absolute;
      left: -12.5%;
      bottom: 0;
      background-color: var.$col2;
    }
    &::before {
      content: "";
      display: block;
      width: 13%;
      height: 1px;
      position: absolute;
      right: -12.5%;
      bottom: 0;
      background-color: var.$col2;
    }
    figure {
      width: 20%;
      @include mix.flex-container(row, flex-start, center);
      img {
        width: 20%;
      }
      figcaption {
        @include mix.font(
          var.$fontLato,
          var.$smax1199_13-16,
          600,
          var.$col4,
          1em 0,
          0 0 0 0.3em
        );
      }
    }
    .deskNavItems {
      width: 55%;
      @include mix.flex-container(row, space-between, center);
      li {
        a {
          @include mix.font(
            var.$fontActor,
            var.$smax1199_13-16,
            400,
            var.$col4,
            0.2em 0.5em,
            0
          );
          border-radius: 0.6em;
        }
      }
    }
    .desk-nav-icons {
      width: 7%;
      @include mix.flex-container(row, space-between, center);
      font-size: var.$smax1199_19-23;
      svg {
        color: var.$col3;
      }
    }
  }
}
