@use "../../sassDry/_mixins" as mix;
@use "../../sassDry/_variables" as var;

@mixin styles {
  .desktLogin {
    form {
      .topMinDesc {
        h3 {
          font-size: var.$smax3000_19-33;
        }
      }
      .logoDHtext {
        h1 {
          font-size: var.$smax3000_33-57;
        }
      }
      .dskLogin-btnContainer {
        button {
          font-size: var.$smax3000_23-40;
        }
      }
      h3 {
        font-size: var.$smax3000_19-33;
      }
    }
  }
}
