@use "../sassDry/_mixins" as mix;
@use "../sassDry/_variables" as var;

@mixin styles {
  .phone--Nav {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    background-color: var.$col3;
    @include mix.flex-container(row, center, center);
    font-size: var.$smax600_19-28;
    border-top-left-radius: 0.53em;
    border-top-right-radius: 0.53em;
    ul {
      width: 90%;
      @include mix.flex-container(row, space-between, center);

      li {
        width: 15%;
        font-size: var.$smax600_16-23;
        padding: 0.5em 0;
        text-align: center;
        a {
          width: 100%;
          @include mix.flex-container(column, space-around, center);
          text-decoration: none;
          img {
            width: 55%;
          }
        }
        h5 {
          opacity: 0;
          @include mix.font(
            var.$fontLato,
            var.$smax600_13-19,
            500,
            var.$col1,
            0,
            0
          );
          position: absolute;
          bottom: -1em;
        }
      }

      .active {
        font-size: var.$smax600_19-28;
        transform: translateY(-1.2em);
        background: var.$col3;
        border-radius: 50%;
        position: relative;
        &::after {
          content: "";
          display: block;
          width: 1em;
          aspect-ratio: 1;
          z-index: -1;
          background-color: var.$col3;
          position: absolute;
          right: -0.3em;
          top: 0.9em;
          border-radius: 100% 0% 0% 100% / 0% 100% 0% 100%;
          transform: rotate(50deg);
        }
        &::before {
          content: "";
          display: block;
          width: 1em;
          aspect-ratio: 1;
          z-index: -1;
          background-color: var.$col3;
          position: absolute;
          left: -0.3em;
          top: 0.9em;
          border-radius: 100% 0% 0% 100% / 0% 100% 0% 100%;
          transform: rotate(-50deg);
        }
        h5 {
          opacity: 1;
        }
      }
    }
  }
}
