@use "../../sassDry/_mixins" as mix;
@use "../../sassDry/_variables" as var;
@use "../../components/phoneNav" as phnNv;

@mixin styles {
  header {
    width: 100%;
    border-bottom: 1px solid var.$col2;
    @include mix.flex-container(row, center, center);
    font-size: var.$smax600_16-23;
    padding: 0.5em 0;
    div {
      width: 90%;
      @include mix.flex-container(row, space-between, center);
      > img {
        width: 9%;
      }
      figure {
        width: 58%;
        @include mix.flex-container(row, flex-start, center);
        img {
          width: 22%;
        }
        figcaption {
          @include mix.font(
            var.$fontLato,
            var.$smax600_16-28,
            600,
            var.$col4,
            0,
            0 0 0 0.3em
          );
        }
      }
    }
  }
  @include phnNv.styles;
  .kreuMain {
    h1 {
      @include mix.font(
        var.$fontMerr,
        var.$smax600_23-33,
        600,
        var.$col4,
        1em 0,
        0
      );
    }
    .kreuGraphCont {
      width: 100%;
      @include mix.flex-container(column);
      .kreuGrphUp {
        @include mix.flex-container(column);
        .krGrphUp-card1 {
          @include mix.phoneCardsKreu();
          h2:first-child {
            @include mix.font(
              var.$fontMerr,
              var.$smax600_19-28,
              500,
              var.$col4,
              0.5em,
              0
            );
          }
          h2:nth-child(2) {
            @include mix.font(
              var.$fontLato,
              var.$smax600_23-33,
              500,
              var.$col1,
              0 0.4em,
              0
            );
            span {
              font-size: var.$smax600_16-23;
            }
          }
          div {
            width: 93%;
            align-self: center;
            @include mix.flex-container(row, space-between, center);
            h3 {
              @include mix.font(
                var.$fontActor,
                var.$smax600_13-19,
                500,
                var.$col4,
                2em 0 1em 0,
                0
              );
            }
            h4 {
              @include mix.font(
                var.$fontMerr,
                var.$smax600_11-16,
                500,
                var.$col4,
                1.3em 0 0 0,
                0
              );
            }
          }
        }
        .krGrphUp-card2 {
          @include mix.phoneCardsKreu();
          h2 {
            @include mix.font(
              var.$fontMerr,
              var.$smax600_19-28,
              500,
              var.$col4,
              0.5em,
              0
            );
          }
          > div {
            width: 92.5%;
            align-self: center;
            @include mix.flex-container(row, space-between, center);
            font-size: var.$smax600_19-28;
            padding: 1em 0;
          }
        }
        .krGrphUp-card3 {
          @include mix.phoneCardsKreu(100%);
          h2 {
            @include mix.font(
              var.$fontMerr,
              var.$smax600_19-28,
              500,
              var.$col4,
              0.5em,
              0
            );
          }

          > div {
            width: 92.5%;
            align-self: center;
            @include mix.flex-container(column);
            .kreu_kufijteBuxhetor--card {
              width: 100%;
              max-height: 120px;
              overflow-y: scroll;
              @include mix.hideScrollbars;
              @include mix.flex-container(column, flex-start, center);
              .progressBarGroup {
                width: 100%;
                @include mix.flex-container(row, space-between, center);
                h3 {
                  @include mix.font(
                    var.$fontActor,
                    var.$smax600_16-23,
                    500,
                    var.$col4,
                    0 0 0 0.5em,
                    0
                  );
                }
                div {
                  width: 70%;
                  @include mix.flex-container(column);
                  meter {
                    width: 100%;
                  }
                  meter::-webkit-meter-bar {
                    background-color: var.$col3;
                  }
                  meter::-webkit-meter-optimum-value {
                    background-color: var.$col1;
                  }
                  /* Style the meter fill */
                  //  meter::-webkit-meter-optimum-value,
                  //  meter::-webkit-meter-suboptimum-value,
                  //  meter::-webkit-meter-even-less-good-value {
                  //   background-color: green;
                  // }

                  /* Style the meter fill with different colors at specific values */
                  //  meter[value="0"]::-webkit-meter-optimum-value,
                  //  meter[value="1"]::-webkit-meter-optimum-value {
                  //   background-color: red;
                  // }
                  h4 {
                    @include mix.font(
                      var.$fontActor,
                      var.$smax600_11-16,
                      500,
                      var.$col4,
                      0,
                      0
                    );
                    span {
                      margin-left: 10em;
                    }
                  }
                }
              }
            }
          }
          .sortOptionsGroup {
            width: 92.5%;
            align-self: center;
            @include mix.flex-container(column);
            h3 {
              @include mix.font(
                var.$fontMerr,
                var.$smax600_16-23,
                500,
                var.$col4,
                1em 0 0.5em 0,
                0
              );
            }
            select {
              width: 40%;
              background-color: var.$col1;
              @include mix.font(
                var.$fontLato,
                var.$smax600_16-23,
                500,
                var.$col3,
                0.3em 0.5em,
                0
              );
              border-radius: 0.6em;
            }
            button {
              @include mix.font(
                var.$fontLato,
                var.$smax600_16-23,
                500,
                var.$col1,
                0.5em 1em,
                1em 0
              );
              background-color: var.$col3;
              border-radius: 0.6em;
            }
          }
        }
      }
    }
    .kreuGrphDown {
      width: 100%;
      @include mix.flex-container(column);
      div:last-child {
        @include mix.phoneCardsKreu(100%);
        max-width: 425px;
        h2 {
          @include mix.font(
            var.$fontMerr,
            var.$smax600_19-28,
            500,
            var.$col4,
            0.5em,
            0
          );
        }
        div {
          width: 92.5%;
          align-self: center;
          margin-top: 0;
          font-size: var.$smax600_16-23;
          margin-bottom: 0.4em;
          @include mix.flex-container(row, space-between, center);
          h3 {
            @include mix.font(
              var.$fontActor,
              var.$smax600_16-23,
              500,
              var.$col4,
              0 0 0 0.5em,
              0
            );
          }
          div {
            width: 70%;
            @include mix.flex-container(column);
            meter {
              width: 100%;
            }
            meter::-webkit-meter-bar {
              background-color: var.$col3;
            }
            meter::-webkit-meter-optimum-value {
              background-color: var.$col1;
            }
            h4 {
              @include mix.font(
                var.$fontActor,
                var.$smax600_11-16,
                500,
                var.$col4,
                0,
                0
              );
              span {
                margin-left: 10em;
              }
            }
          }
        }
      }
      .grafikuMadh {
        order: 2;
        width: 100%;
        background-color: var.$col2;
        font-size: var.$smax600_19-28;
        border-radius: 0.5em;
        margin-top: 0.5em;
      }
    }
    .bottomTitle {
      @include mix.font(
        var.$fontLato,
        var.$smax600_23-33,
        700,
        var.$col4,
        1em 0 3em 0,
        0
      );
      text-align: center;
    }
  }
}
