@use "../../sassDry/_mixins" as mix;
@use "../../sassDry/_variables" as var;

@mixin styles {
  .analytics-main {
    > h1 {
      font-size: var.$smax899_33-48;
    }
    > section {
      .analytics-main_firstGraphsGroup {
        .analyticsPieChartCard {
          @include mix.phoneCardsKreu($wdth: 100%, $fs: var.$smax899_19-28);
          h2:first-child {
            font-size: var.$smax899_23-33;
          }
          > div {
            font-size: var.$smax899_19-28;
          }
        }
        .qellimet-FinancTeArrCard {
          @include mix.phoneCardsKreu($wdth: 100%, $fs: var.$smax899_19-28);
          h2:first-child {
            font-size: var.$smax899_23-33;
          }
          ul {
            li {
              font-size: var.$smax899_23-33;
              span {
                margin-left: 12em;
              }
            }
          }
        }
      }
      .buxhetiDhenMeShmCard {
        @include mix.phoneCardsKreu($wdth: 100%, $fs: var.$smax899_19-28);
        h2:first-child {
          font-size: var.$smax899_23-33;
        }
        > div {
          font-size: var.$smax899_19-28;
        }
      }
      .kuletaGraphicCard {
        @include mix.phoneCardsKreu($wdth: 100%, $fs: var.$smax899_19-28);
        h2:first-child {
          font-size: var.$smax899_23-33;
        }
        .daily-graph-chart {
          font-size: var.$smax899_19-28;
        }
      }
    }
    h1:last-child {
      font-size: var.$smax899_33-48;
    }
  }
}
