@use "../../sassDry/_mixins" as mix;
@use "../../sassDry/_variables" as var;

@mixin styles {
  .gjurmoShpenzimetMain {
    h1:first-child {
      font-size: var.$smax899_33-48;
    }
    .shpenzimetMiddleSection {
      form {
        @include mix.phoneCardsKreu(100%, var.$smax899_19-28);
        h2:first-child {
          font-size: var.$smax899_23-33;
        }
        div {
          label {
            font-size: var.$smax899_19-28;
          }
          input,
          select,
          textarea {
            font-size: var.$smax899_16-23;
          }
          h5 {
            font-size: var.$smax899_16-23;
          }
        }
        button {
          font-size: var.$smax899_16-23;
          margin-left: 1.2em;
        }
      }
      > div {
        @include mix.phoneCardsKreu(100%, var.$smax899_19-28);
        section {
          h2:first-child {
            font-size: var.$smax899_23-33;
          }
          > div {
            @include mix.flex-container(row, space-between, center);
            div:first-child {
              width: 65%;
              input {
                font-size: var.$smax899_16-23;
              }
              button {
                font-size: var.$smax899_16-23;
              }
            }
            div:nth-child(2) {
              width: 30%;
              h3 {
                font-size: var.$smax899_19-28;
              }
              button {
                font-size: var.$smax899_16-23;
              }
            }
          }
          ul {
            li {
              font-size: var.$smax899_19-28;
            }
          }
        }
        > ul {
          font-size: var.$smax899_23-33;

          > li {
            font-size: var.$smax899_23-33;
            > div {
              h4 {
                font-size: var.$smax899_16-23;
              }
              h3 {
                font-size: var.$smax899_16-23;
                margin-left: 17em;
              }
            }
            // # Collapsed ul InshaaAllah
            ul {
              li {
                font-size: var.$smax899_16-23;
              }
            }
          }
        }
      }
    }
    h1:last-child {
      font-size: var.$smax899_33-48;
    }
  }
}
