@use "../../sassDry/_mixins" as mix;
@use "../../sassDry/_variables" as var;

@mixin styles {
  .Kuleta-main {
    width: 85%;
    > h1 {
      font-size: var.$smax899_33-48;
    }
    > section {
      div:first-child {
        > div:first-child {
          @include mix.phoneCardsKreu(100%, var.$smax899_19-28);
          h2:first-child {
            font-size: var.$smax899_23-33;
          }
          h2:nth-child(2) {
            font-size: var.$smax899_23-33;
          }
          button {
            font-size: var.$smax899_19-28;
          }
        }
        > div:nth-child(2) {
          @include mix.phoneCardsKreu(100%, var.$smax899_19-28);
          h2 {
            font-size: var.$smax899_23-33;
          }
          ul {
            li {
              font-size: var.$smax899_23-33;
              h3 {
                font-size: var.$smax899_19-28;
              }
              div {
                meter {
                  font-size: var.$smax899_19-28;
                }
              }
            }
          }
          a {
            font-size: var.$smax899_19-28;
          }
        }
        > div:nth-child(3) {
          @include mix.phoneCardsKreu(100%, var.$smax899_19-28);
          > h2 {
            font-size: var.$smax899_23-33;
          }
          ul {
            li {
              font-size: var.$smax899_23-33;
              h3 {
                font-size: var.$smax899_19-28;
              }
              div {
                meter {
                  font-size: var.$smax899_19-28;
                }
              }
            }
          }
        }
      }
      div:nth-child(2) {
        > div:first-child {
          @include mix.phoneCardsKreu(100%, var.$smax899_19-28);
          > h2 {
            font-size: var.$smax899_23-33;
            span {
              font-size: var.$smax899_16-23;
              padding-left: clamp(
                13.75rem,
                calc(-6.42rem + 53.69vw),
                23.75rem
              ); //220-380
            }
          }
          ul {
            li {
              font-size: var.$smax899_19-28;
              span {
                padding-left: clamp(
                  13.75rem,
                  calc(-6.42rem + 53.69vw),
                  23.75rem
                ); //220-380
              }
              strong {
                font-size: var.$smax899_16-23;
              }
            }
          }
          div {
            button {
              font-size: var.$smax899_16-23;
            }
          }
        }
        > div:last-child {
          @include mix.phoneCardsKreu(100%, var.$smax899_19-28);
          > h2 {
            font-size: var.$smax899_23-33;
          }
          .graphicLineChart {
            font-size: var.$smax899_23-33;
          }
        }
      }
    }
    h1:last-child {
      font-size: var.$smax899_33-48;
    }
  }
}
