@use "../../sassDry/_mixins" as mix;
@use "../../sassDry/_variables" as var;

@mixin styles {
  .about-main {
    width: 85%;
    nav {
      font-size: var.$smax899_28-40;
      ul {
        li {
          font-size: var.$smax899_19-28;
        }
      }
    }
    aside {
      > h1 {
        font-size: var.$smax899_33-48;
      }
      p {
        font-size: var.$smax899_23-33;
      }
      h2 {
        font-size: var.$smax899_28-40;
      }
      div {
        svg {
          font-size: var.$smax899_28-40;
        }
        h3 {
          font-size: var.$smax899_19-28;
        }
      }
    }
  }
}
